html,
body {
  color: #f0f8ff;
  width: 100%;
  height: 100%;
  font-family: "Montserrat", sans-serif;
}

.navbar-brand {
  color: white;
}

.navbar {
  background-color: Rgba(136, 136, 136, 0.533);
}

.navbar-toggler {
  border: none;
}

.heading {
  background-image: url(https://free4kwallpapers.com/uploads/originals/2022/11/20/astronaut-wallpaper.jpg);
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.title-container {
  position: absolute;
  top: 40%;
  left: 22%;
  text-align: center;
}

.title-container .btn {
  margin-top: 20px;
  border-radius: 30px;
  text-transform: uppercase;
  padding: 10px;
  transition: 0.3s;
  opacity: 0.6;
}

.title-container .btn:hover {
  background-color: #f0f8ff;
  opacity: 1;
  transform: scale(1.07);
}

.title-container h1 {
  opacity: 0.8;
}

.title-container hr {
  margin: 0 auto;
  width: 80%;
}

.about {
  color: #222222;
  text-align: center;
  width: 65%;
  margin: auto;
  padding: 80px 0 100px;
}

.about h1 {
  text-transform: uppercase;
  margin: 40px 0;
}

.how-works {
  background-image: url(https://cdn.wallpapersafari.com/69/29/GBaZqr.jpg);
  background-position: bottom;
  background-size: cover;
  height: 100%;
  width: 100%;
}

.how-works img {
  filter: blur(2px);
}

.functionality {
  text-align: center;
  width: 65%;
  margin: auto;
  padding: 60px 0 100px;
}

.functionality h1 {
  text-transform: uppercase;
  margin: 40px 0;
}

.functionality p {
  color: #f0f8ff;
  line-height: 1.5;
  font-weight: 600;
}
